@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 360px;
  min-height: 480px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

#root {
  min-height: 480px;
}
